<div class="wrapper">
  <div class="container">
    <div @scale [ngStyle]="{ 'background-color': color}" *ngFor="let color of colorsDisplay" class="box noselect"
      (click)="openDialog(color)">
      <ng-template #dialogTemplate>
        <div class="dialog-container" [ngStyle]="{'backgroundColor': dialogColor}">
          <div class="dialog">
            {{currentColor}}
            <button mat-flat-button class="btn-copy" [cdkCopyToClipboard]="currentColor"
              (click)="openSnackBar(currentColor)">Copy</button>
          </div>
          <div class="dialog">
            Download:
            <div class="dialog-button-container">
              <button mat-flat-button class="btn-copy btn-download" (click)="downloadImage(0, currentColor)"
                target="_blank">1080</button>
              <button mat-flat-button class="btn-copy btn-download" (click)="downloadImage(1, currentColor)"
                target="_blank">2K</button>
              <button mat-flat-button class="btn-copy btn-download" (click)="downloadImage(2, currentColor)"
                target="_blank">4K</button>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
  <!-- <div class="message"></div> -->
  <div class="func-container" *ngIf="isShowFunc">
    <button @fade mat-button class="btn-func downloadImage noselect" (click)="openDialogDownloadImage()">download</button>
    <button @fade mat-button class="btn-func sort noselect" (click)="sort()">sort</button>
    <button @fade mat-button class="btn-func restart noselect" (click)="restart()">restart</button>
    <button @fade mat-button class="btn-func dark-mode noselect" *ngIf="!isDarkMode" (click)="darkMode(true)">dark
      😎</button>
    <button @fade mat-button class="btn-func light-mode noselect" *ngIf="isDarkMode" (click)="darkMode(false)">light
      😑</button>
  </div>

  <ng-template #dialogDownloadImageTemplate>
    <div class="dialog-container" [ngStyle]="{'backgroundColor': currentColor}">
      <div class="dialog-input-color">
        <mat-form-field style="width: 100%;">
          <mat-label>Color Code</mat-label>
          <input matInput placeholder="Ex. #FFFFFF" [(ngModel)]="currentColor">
        </mat-form-field>
      </div>
      <div class="dialog">
        Download:
        <div class="dialog-button-container">
          <button mat-flat-button class="btn-copy btn-download" (click)="downloadImage(0, currentColor)"
            target="_blank">1080</button>
          <button mat-flat-button class="btn-copy btn-download" (click)="downloadImage(1, currentColor)"
            target="_blank">2K</button>
          <button mat-flat-button class="btn-copy btn-download" (click)="downloadImage(2, currentColor)"
            target="_blank">4K</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>